<header class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <%=link_to '検索システムV2', root_path, :class => 'navbar-brand' %>
    </div>
    <div class="col-sm-3 col-md-3 navbar-right">
      <%= form_tag publicity_qas_path, :method => 'get', :remote => true, :class => "navbar-form", :role => "search" do %>
        <div class="input-group">
          <%= text_field_tag :keyword, params[:keyword], :class => "form-control", :id => "srch-term", :placeholder =>"想定問答から探す" %>
          <div class="input-group-btn">
			<%= button_tag(:type => 'submit', :class => "btn btn-default") do %>
			 <span class="glyphicon glyphicon-search"></span>
			<% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
	<!-- Navigation Menu
	================================================== -->
    <ul class="nav navbar-nav">
	    <li><%= link_to publicity_qas_path do %>
		  <%= content_tag(:i, "", :class => "icon-screenshot") %> 想定問答
		  <% end %></li>
      <li><%= link_to "カテゴリー管理", publicity_qa_categories_path %></li>
      <li><%= link_to "短冊管理", publicity_helps_path %></li>
	 <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">短冊 <b class="caret"></b></a>
	      <ul class="dropdown-menu">
	　　　　　　　　<% Publicity::Help.all.each do |help| %>
	        <li><%= link_to help.title, help, {:remote => true} %></li>
	        <% end %>
	      </ul>
	    </li>
	 <!--<li><%= link_to publicity_helps_path do %>
		  <%= content_tag(:i, "", :class => "icon-screenshot") %>短冊管理
		  <% end %></li>
	    <li><%= link_to publicity_qa_categories_path do %>
		  <%= content_tag(:i, "", :class => "icon-screenshot") %> 管理
		  <% end %></li>-->
    </ul>
    <!-- /nave -->
    </div>
    </div>
  </div>
</header>
