<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
	    <%=link_to 'Home', root_path, :class => 'brand' %>
    <div class="nav-collapse">
	<!-- Navigation Menu
	================================================== -->
    <ul class="nav">
       <%if user_signed_in? %>
       <li><%= link_to people_path do %>
		  <%= content_tag(:i, "", :class => "icon-user icon-white") %> <%= t("activerecord.models.person", :default => "Person") %>
		<% end %></li>
		<!-- Navigation Menu for record_menu
		================================================== -->
       <li class="dropdown" id="record_menu">
	      <a href="#record_menu" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
	         <%= content_tag(:i, "", :class => "icon-th-list icon-white") %>
	         <%= t(:record_title, :default => "Record") %>
	         <%= content_tag(:b, "", :class => "caret") %>
	      </a>
          <ul class="dropdown-menu">	
		   <%= content_tag(:li, t(:training_title, :default => "Trainings"), :class => "nav-header") %>
            <li><%= link_to record_trainings_path do %>
			   <%= content_tag(:i, "", :class => "icon-th-list") %> <%= t("activerecord.models.record/training", :default => "Training Records") %>
			   <% end %></li>
			<li><%= link_to new_record_training_path do %>
			   <%= content_tag(:i, "", :class => "icon-plus") %>
			   <%= t(:training_add_title, :default => "Add New Training") %>
			   <% end %></li>
			<li class="dropdown-submenu">
			  <a href="#"><%= content_tag(:i, "", :class => "icon-table") %> <%= t("activerecord.models.training/training_matrix", :default => "Training　Matrix") %></a>
			  <ul class="dropdown-menu">
				  <li class="nav-header">HSQE</li>
				  <li class="dropdown-submenu">
					<a href="#">HSQE Mandatory</a>
					 <ul class="dropdown-menu">
					    <% @menu_rigs.each do |rig| %>
				        <li><%= link_to rig.name_en, show_by_rig_training_training_matrix_path(rig, :group_type => 'Mandatory'), data: {no_turbolink: true} %></li>
					    <% end %>
				        <li class="nav-header"></li>
					    <% @menu_units.each do |unit| %>
			            <li><%= link_to unit.name_en, training_training_matrix_path(unit, :group_type => 'Mandatory'), data: {no_turbolink: true} %></li>
					    <% end %>
				     </ul>
				  </li>
				  <li class="dropdown-submenu">
					<a href="#">HSQE In House</a>
					 <ul class="dropdown-menu">
					    <% @menu_rigs.each do |rig| %>
				        <li><%= link_to rig.name_en, show_by_rig_training_training_matrix_path(rig, :group_type => 'In House'), data: {no_turbolink: true} %></li>
					    <% end %>
				        <li class="nav-header"></li>
					    <% @menu_units.each do |unit| %>
			            <li><%= link_to unit.name_en, training_training_matrix_path(unit, :group_type => 'In House'), data: {no_turbolink: true} %></li>
					    <% end %>
				     </ul>
				  </li>
				<li class="dropdown-submenu">
				  <a href="#">HSQE Misc</a>
				  <ul class="dropdown-menu">
				    <% @menu_rigs.each do |rig| %>
			        <li><%= link_to rig.name_en, show_by_rig_training_training_matrix_path(rig, :group_type => 'Misc'), data: {no_turbolink: true} %></li>
				    <% end %>
				    <li class="nav-header"></li>
				    <% @menu_units.each do |unit| %>
		            <li><%= link_to unit.name_en, training_training_matrix_path(unit, :group_type => 'Misc'), data: {no_turbolink: true} %></li>
				    <% end %>
				  </ul>
				</li>
				<li class="nav-header">Company Required</li>
				<li class="dropdown-submenu">
				  <a href="#">Training MX by Rig</a>
				  <ul class="dropdown-menu">				
				    <% @menu_units.each do |unit| %>
			          <li><%= link_to unit.name_en, training_unit_training_matrices_path(:unit_id => unit), data: {no_turbolink: true} %></li>
				    <% end %>
				  </ul>
				</li>
			  </ul>
			</li>
			  <li class="dropdown-submenu">
			    <a href="#"><%= content_tag(:i, "", :class => "icon-th-large") %> <%= t("activerecord.models.training/position_matrix", :default => "Position Matrix") %></a>
			    <ul class="dropdown-menu">
				    <li class="nav-header">HSQE</li>
				    <li><%= link_to "HSQE Mandatory", training_position_matrices_path(:group_type => 'Mandatory'), data: {no_turbolink: true} %></li>
				    <li><%= link_to "HSQE In House", training_position_matrices_path(:group_type => 'In House'), data: {no_turbolink: true} %></li>
				    <li><%= link_to "HSEQ Misc", training_position_matrices_path(:group_type => 'Misc'), data: {no_turbolink: true} %></li>
				    <li><%= link_to "All Trainings", category_training_types_path %></li>
				    <li class="nav-header">Company Required</li>
					<li class="dropdown-submenu">
					  <a href="#">Position MX by Rig</a>
					  <ul class="dropdown-menu">				
					    <% @menu_units.each do |unit| %>
				          <li><%= link_to unit.name_en, training_unit_position_matrices_path(:unit_id => unit), data: {no_turbolink: true} %></li>
					    <% end %>
					  </ul>
					</li>
			    </ul>
			  </li>
              <li><%= link_to training_certificates_path do %>
				  <%= content_tag(:i, "", :class => "icon-certificate") %> <%= t("activerecord.models.training/certificate", :default => "Certificate") %>
				  <% end %></li>
	          <li><%= link_to training_seminars_path do %>
				  <%= content_tag(:i, "", :class => "icon-headphones") %> <%= t("activerecord.models.training/seminar", :default => "Seminar") %>
				  <% end %></li>
			<li class="nav-header">Statistic</li>
            <li><%= link_to status_training_acquisition_rates_path do %>
			   <%= content_tag(:i, "", :class => "icon-dashboard") %>
			   <%= t("activerecord.models.training/acquisition_rate", :default => "Training Acquisition Rates") %>
			   <% end %></li>
			  <li class="dropdown-submenu">
			    <a tabindex="-1" href="#">More options</a>
			    <ul class="dropdown-menu">
				    <li class="nav-header"><%= t(:hr_en_menu, :default => "Crew Category") %></li>
				    <li><%= link_to "#{t("activerecord.models.category/position_type", :default => "Position Types")}", category_position_types_path %></li>
				    <li><%= link_to "#{t("activerecord.models.category/training_type", :default => "Training Types")}", category_training_types_path %></li>
				    <li><%= link_to "#{t("activerecord.models.training/category/company", :default => "Training Company")}", training_category_companies_path %></li>
			    </ul>
			  </li>
            <%= content_tag(:li, "", :class => "divider") %>

            <li><%= link_to record_careers_path do %>
				<%= content_tag(:i, "", :class => "icon-list-alt") %> <%= t("activerecord.models.record/career", :default => "Job Career") %>
				<% end %></li>
            <%= content_tag(:li, "", :class => "divider") %>
            <% if can? :read, Publicity::Qa %>
		    <li><%= link_to publicity_qas_path do %>
			  <%= content_tag(:i, "", :class => "icon-screenshot") %> <%= t("activerecord.models.publicity/qa", :default => "FAQ") %>
			  <% end %></li>
            <% end %>
           </ul>
       </li>
        <!-- /record_menu -->
		<!-- Navigation Menu for personnel_menu
		================================================== -->
       <li class="dropdown" id="personnel_menu"><a href="#personnel_menu" class="dropdown-toggle" data-toggle="dropdown"><%= content_tag(:i, "", :class => "icon-book icon-white") %> <%= t(:personnel_title, :default => "Personnel") %><%= content_tag(:b, "", :class => "caret") %></a>
       <ul class="dropdown-menu">
           <% if can? :read, Personnel::Address %>
           <li><%= link_to personnel_addresses_path do %>
			   <%= content_tag(:i, "", :class => "icon-home") %> <%= t("activerecord.models.personnel/address", :default => "Address") %>
			   <% end %></li>
		   <% end %>
           <% if can? :read, Personnel::Passport %>
           <li><%= link_to personnel_passports_path do %>
			   <%= content_tag(:i, "", :class => "icon-book") %> <%= t("activerecord.models.personnel/passport", :default => "Passport") %>
			   <% end %></li>
		   <% end %>
	       <%= content_tag(:li, "", :class => "divider") %>
           <% if can? :read, Personnel::Education %>
	       <li><%= link_to personnel_educations_path do %>
		       <%= content_tag(:i, "", :class => "icon-bookmark") %> <%= t("activerecord.models.personnel/education", :default => "Education") %>
		       <% end %></li>
		   <% end %>
           <% if can? :read, Personnel::Family %>
	       <li><%= link_to personnel_families_path	do %>
		       <%= content_tag(:i, "", :class => "icon-lock") %> <%= t("activerecord.models.personnel/family", :default => "Family") %>
		       <% end %></li>
		   <% end %>
           <% if can? :read, Personnel::SocialInsurance %>
	       <li><%= link_to personnel_social_insurances_path do %>
		       <%= content_tag(:i, "", :class => "icon-medkit") %> <%= t("activerecord.models.personnel/social_insurance", :default => "Social Insurance") %>
				<% end %></li>
		   <% end %>
           <% if can? :read, Record::BusinessTrip %>
	       <li><%= link_to record_business_trips_path do %>
		       <%= content_tag(:i, "", :class => "icon-plane") %> <%= t("activerecord.models.record/business_trip", :default => "Business Trip") %>
		   	   <% end %></li>
		   <% end %>
           <% if can? :read, Record::SmallTrip %>
	       <li><%= link_to record_small_trips_path do %>
		       <%= content_tag(:i, "", :class => "icon-road") %> <%= t("activerecord.models.record/small_trip", :default => "Small Trip") %>
		       <% end %></li>
		   <% end %>
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">More options</a>
		    <ul class="dropdown-menu">
		  <li class="nav-header"><%= t(:hr_jp_menu, :default => "Japanese Employee Category") %></li>
		      <li><%= link_to "#{t("activerecord.models.category/grade_type", :default => "Grade Types")}", category_grade_types_path %></li>
		      <li><%= link_to "#{t("activerecord.models.category/title_type", :default => "Title Types")}", category_title_types_path %></li>
	      <li class="nav-header"><%= t(:hr_menu, :default => "HR Management") %></li>
		      <li><%= link_to "#{t("activerecord.models.category/retire_type", :default => "Retire Types")}", category_retire_types_path %></li>
		      <li><%= link_to "#{t("activerecord.models.category/job_type", :default => "Job Types")}", category_job_types_path %></li>
		      <li><%= link_to "#{t("activerecord.models.personnel/category/management_type", :default => "Management Types")}", personnel_category_management_types_path %></li>
		      <li><%= link_to "#{t("activerecord.models.category/work_type", :default => "Work Types")}", category_work_types_path %></li>
		      <li><%= link_to "#{t("activerecord.models.personnel/category/education_type", :default => "Education Types")}", personnel_category_education_types_path %></li>
		      <li><%= link_to "#{t("activerecord.models.personnel/category/family_type", :default => "Family Types")}", personnel_category_family_types_path %></li>
			  <li class="nav-header">Under Survey</li>
		    </ul>
		  </li>
	      <% if can? :manage, User %>
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">Under Feasibility Study</a>
		    <ul class="dropdown-menu">
		    <li><%= link_to personnel_directorships_path do %>
			       <%= content_tag(:i, "", :class => "icon-user-md") %> <%= t("activerecord.models.personnel/directorship", :default => "Directorship") %>
				<% end %></li>
		    <li><%= link_to personnel_memberships_path do %>
			       <%= content_tag(:i, "", :class => "icon-random") %> <%= t("activerecord.models.personnel/membership", :default => "Membership") %>
				<% end %></li>
			  <li class="dropdown-submenu">
			    <a tabindex="-1" href="#"><%= t("activerecord.models.personnel/hitch", :default => "Crew Change") %>(Timeline)</a>
			    <ul class="dropdown-menu">
			   <% @menu_rigs.each do |rig| %>
		          <li><%= link_to rig.name_en, :action=>"index", :controller=>"personnel/hitches", :id => rig %></li>
			    <% end %>
			    </ul>
			  </li>
			  <li class="dropdown-submenu">
			    <a tabindex="-1" href="#"><%= t("activerecord.models.personnel/hitch", :default => "Crew Change") %>(Calendar)</a>
			    <ul class="dropdown-menu">
			   <% @menu_rigs.each do |rig| %>
		          <li><%= link_to rig.name_en, :action=>"calendar", :controller=>"personnel/hitches", :id => rig %></li>
			    <% end %>
			    </ul>
			  </li>
			  <li class="dropdown-submenu">
			    <a tabindex="-1" href="#"><%= t("activerecord.models.work/salary", :default => "Salaries") %></a>
			    <ul class="dropdown-menu">
			   <% @menu_rigs.each do |rig| %>
		          <li><%= link_to rig.name_en, :action=>"index", :controller=>"work/salaries", :unit => rig %></li>
			    <% end %>
			    </ul>
			  </li>
			  <li class="dropdown-submenu">
			    <a tabindex="-1" href="#"><%= t("activerecord.models.work/attendance", :default => "Attencances") %></a>
			    <ul class="dropdown-menu">
			   <% @menu_rigs.each do |rig| %>
		          <li><%= link_to rig.name_en, :action=>"index", :controller=>"work/attendances", :unit => rig %></li>
			    <% end %>
			    </ul>
			  </li>
		      <li><%= link_to "#{t("activerecord.models.work/category/attendance_type", :default => "Attendance Types")}", work_category_attendance_types_path %></li>
		    </ul>
		  </li>
          <% end %>
    </ul>
    </li>
    <!-- /personnel_menu -->
	<!-- Navigation Menu for assignment_menu
	================================================== -->
       <li class="dropdown" id="assignment_menu"><a href="#assignment_menu" class="dropdown-toggle" data-toggle="dropdown"><%= content_tag(:i, "", :class => "icon-share-alt icon-white") %> <%= t(:assignment_title, :default => "Assignment") %><%= content_tag(:b, "", :class => "caret") %></a>
      <ul class="dropdown-menu">
		  <li class="dropdown-submenu">
		    <a href="#"><%= content_tag(:i, "", :class => "icon-group") %> <%= t("activerecord.models.record/roster", :default => "roster") %></a>
		    <ul class="dropdown-menu">
	            <li><%= link_to "#{t("activerecord.attributes.record/roster.index", :default => "Crew List")}", record_rosters_path %></li>
	            <%= content_tag(:li, "", :class => "divider") %>
			  <% @menu_units.each do |unit| %>
	            <li><%= link_to unit.name_en, record_roster_path(unit) %></li>
			  <% end %>
		    </ul>
		  </li>
	       <% if can? :create, Person %>
		   <%= content_tag(:li, t(:action_title, :default => "Action"), :class => "nav-header") %>
		   <li><%= link_to new_person_path do %>
		       <%= content_tag(:i, "", :class => "icon-user") %> <%= t(:person_add_title) %>
		   	<% end %></li>
		   <% end %>
	       <% if can? :create, Assignment::Deployment %>
		   <li><%= link_to new_assignment_deployment_path do %>
			   <%= content_tag(:i, "", :class => "icon-retweet") %> <%= t("relocation_new", :default => "Register Promotion (Position Change), and Relocation of crew(Rig, Office, HeadOffice)") %>
			   <% end %></li>
		   <% end %>
	       <% if can? :create, Assignment::Retirement %>
		   <li><%= link_to new_assignment_retirement_path do %>
		       <%= content_tag(:i, "", :class => "icon-minus") %> <%= t("retirement_new", :default => "Remove Reitred Personnel") %>
		      <% end %></li>
		   <% end %>
		   <%= content_tag(:li, t(:list_title, :default => "List"), :class => "nav-header") %>
           <li><%= link_to assignment_employments_path do %>
		       <%= content_tag(:i, "", :class => "icon-plus") %> <%= t("activerecord.models.assignment/employment", :default => "Employment") %>
		       <% end %></li>
           <li><%= link_to assignment_deployments_path do %>
		      <%= content_tag(:i, "", :class => "icon-retweet") %> <%= t("activerecord.models.assignment/deployment", :default => "Deployment") %>
		      <% end %></li>
           <li><%= link_to assignment_gradings_path do %>
		      <%= content_tag(:i, "", :class => "icon-arrow-up") %> <%= t("activerecord.models.assignment/grading", :default => "Grading") %>
		      <% end %></li>
           <li><%= link_to assignment_retirements_path do %>
		      <%= content_tag(:i, "", :class => "icon-minus") %> <%= t("activerecord.models.assignment/retirement", :default => "Retirement") %>
		      <% end %></li>
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">More options</a>
		    <ul class="dropdown-menu">
		       <li><%= link_to units_path do %>
			       <%= content_tag(:i, "", :class => "icon-sitemap") %> <%= t("activerecord.models.unit", :default => "Unit") %>
			    	<% end %></li>
		       <li><%= link_to unit_organizations_path do %>
			       <%= content_tag(:i, "", :class => "icon-comments-alt") %> <%= t("activerecord.models.unit/organization", :default => "Organization") %>
			    	<% end %></li>
		       <li><%= link_to unit_subsidiaries_path do %>
			       <%= content_tag(:i, "", :class => "icon-sitemap") %> <%= t("activerecord.models.unit/subsidiary", :default => "Subsidiary") %>
			    	<% end %></li>
		    </ul>
		  </li>
         </ul>
         </li>
        <!-- /assignment_menu -->
		<!-- Navigation Menu for incident_menu
		================================================== -->
		 <li class="dropdown" id="incident_menu">
	      <a href="#incident_menu" class="dropdown-toggle" data-toggle="dropdown">
	         <%= content_tag(:i, "", :class => "icon-fire-extinguisher icon-white") %>
	         <%= t(:operation_title, :default => "Operation") %>
	         <%= content_tag(:b, "", :class => "caret") %>
	      </a>
		 <ul class="dropdown-menu">	
          <%= content_tag(:li, t(:safety_title, :default => "Incident & Safety"), :class => "nav-header") %>
         <li><%= link_to incident_records_path do %>
		     <%= content_tag(:i, "", :class => "icon-fire") %><%= t("activerecord.models.incident/record", :default => "Incident Report") %>
	         <% end %></li>
         <li><%= link_to status_incident_records_path do %>
		     <%= content_tag(:i, "", :class => "icon-bar-chart") %><%= t("activerecord.attributes.incident/record.incident_status", :default => "Incident Report Matrix") %>
	         <% end %></li>
		 <li><%= link_to incident_todos_path do %>
		     <%= content_tag(:i, "", :class => "icon-check") %> <%= t("activerecord.models.incident/todo", :default => "Corrective Action") %>
		     <% end %></li>
		  <li class="dropdown-submenu">
		    <a tabindex="-1" href="#">More options</a>
		    <ul class="dropdown-menu">
		      <li><%= link_to incident_category_report_statuses_path do %>
			          <%= content_tag(:i, "", :class => "icon-play-circle") %> <%= t("activerecord.models.incident/category/report_status", :default => "Report Status") %>
			      <% end %></li>
			      <li><%= link_to incident_category_responsibilities_path do %>
				      <%= content_tag(:i, "", :class => "icon-exclamation-sign") %> <%= t("activerecord.models.incident/category/responsibility", :default => "Responsibility") %>
				      <% end %></li>
				  <li><%= link_to incident_category_classifications_path do %>
				      <%= content_tag(:i, "", :class => "icon-tag") %> <%= t("activerecord.models.incident/category/classification", :default => "Classification") %>
				      <% end %></li>
				  <li><%= link_to incident_category_types_path do %>
				      <%= content_tag(:i, "", :class => "icon-bookmark") %> <%= t("activerecord.models.incident/category/type", :default => "Incident Type") %>
				      <% end %></li>
				 <%= content_tag(:li, "", :class => "divider") %>
		         <li><%= link_to incident_casuality_underlying_causes_path do %>
		             <%= content_tag(:i, "", :class => "icon-zoom-out") %>
		             <%= t("activerecord.models.incident/casuality/underlying_cause", :default => "Immediate Causes") %>
		          <% end %></li>
		         <li><%= link_to incident_casuality_immediate_causes_path do %>
			         <%= content_tag(:i, "", :class => "icon-zoom-in") %>
			         <%= t("activerecord.models.incident/casuality/immediate_cause", :default => "Underlying Causes") %>
			      <% end %></li>
		          <%= content_tag(:li, "", :class => "divider") %>
				  <li><%= link_to incident_damage_operations_path do %>
					  <%= content_tag(:i, "", :class => "icon-refresh") %> <%= t("activerecord.models.incident/damage/operation", :default => "Operation") %>
		              <% end %></li>
				  <li><%= link_to incident_damage_injured_bodies_path do %>
				      <%= content_tag(:i, "", :class => "icon-user") %> <%= t("activerecord.models.incident/damage/injured_body", :default => "Injured Body") %>
				      <% end %></li>
				   <li><%= link_to incident_damage_equipment_index_path do %>
				      <%= content_tag(:i, "", :class => "icon-cog") %> <%= t("activerecord.models.incident/damage/equipment", :default => "Equipment") %>
				      <% end %></li>
	         <li class="divider"></li>
	         <%= content_tag(:li, "", :class => "divider") %>
	         <%= content_tag(:li, t("activerecord.attributes.incident/record.risk_evaluation", :default => "Risk Evaluation"), :class => "nav-header") %>
				  <li><%= link_to incident_risk_severities_path do %>
				      <%= content_tag(:i, "", :class => "icon-resize-vertical") %><%= t("activerecord.models.incident/risk/severity", :default => "Severity") %>
				      <% end %></li>
				  <li><%= link_to incident_risk_probabilities_path do %>
				      <%= content_tag(:i, "", :class => "icon-resize-horizontal") %><%= t("activerecord.models.incident/risk/probability", :default => "Probability") %>
				      <% end %></li>
		    </ul>
		     <li class="divider"></li>
	         <%= content_tag(:li, t(:marine_title, :default => "Marine"), :class => "nav-header") %>
            <li><%= link_to marine_pocket_ledgers_path do %>
				<%= content_tag(:i, "", :class => "icon-tags") %> <%= t("activerecord.models.marine/pocket_ledger", :default => "Pocket Ledger") %>
				<% end %></li>
           <li><%= link_to marine_minimum_mannings_path	do %>
			<%= content_tag(:i, "", :class => "icon-adjust") %> <%= t("activerecord.models.marine/minimum_manning", :default => "Minimum Mannings") %>
			<% end %></li>
	        <li><%= link_to marine_certificates_path do %>
		        <%= content_tag(:i, "", :class => "icon-anchor") %> <%= t("activerecord.models.marine/certificate", :default => "Ship Certificate") %>
		        <% end %></li>
			  <li class="dropdown-submenu">
			    <a tabindex="-1" href="#">More options</a>
			    <ul class="dropdown-menu">
		            <li><%= link_to marine_category_certificate_types_path do %>
						<%= t("activerecord.models.marine/category/certificate_type", :default => "Certificate Type") %>
						<% end %></li>
		            <%= content_tag(:li, "", :class => "divider") %>
		            <li><%= link_to t("activerecord.models.marine/category/seaman_type", :default => "Seaman Type"), marine_category_seaman_types_path %></li>
		            <li><%= link_to marine_category_ledger_types_path do %>
						<%= t("activerecord.models.marine/category/ledger_type", :default => "Ledger Type") %>
						<% end %></li>
			    </ul>
			  </li>
	         <%= content_tag(:li, "", :class => "divider") %>
			<li><%= link_to countries_path do %>
			    <%= content_tag(:i, "", :class => "icon-globe") %> <%= t("activerecord.models.country", :default => "Country") %>
			    <% end %></li>

         </ul>
    </li>
    <!-- /incident_menu -->
	<!-- Navigation Menu for setting_menu
	================================================== -->
    <li class="dropdown" id="setting_menu"><a href="#setting_menu" class="dropdown-toggle" data-toggle="dropdown"><%= content_tag(:i, "", :class => "icon-off icon-white") %> <%=h current_user.email %><%= content_tag(:b, "", :class => "caret") %></a>
    <ul class="dropdown-menu">
 	    <li><%= link_to edit_user_registration_path do %>
		    <%= content_tag(:i, "", :class => "icon-wrench") %> <%= t(:change_password_title, :default => "Change Password") %>
		    <% end %></li>
       <% if session[:locale] == "ja" %>
	    <li><%= link_to root_url(:only_path => false, :locale => "en") do %>
			<%= content_tag(:i, "", :class => "icon-globe") %> <%= t("english", :default => "English") %>
			<% end %></li>
	    <% else %>
	    <li><%= link_to root_url(:only_path => false, :locale => "ja") do %>
			<%= content_tag(:i, "", :class => "icon-flag") %> <%= t("japanese", :default => "Japanese") %>
			<% end %></li>
	    <% end %>
        <%= content_tag(:li, "", :class => "divider") %>
        <li class="nav-header"><%= t(:system_menu, :default => "System Admin") %></li>
        <li><%= link_to users_path do %>
			  <%= content_tag(:i, "", :class => "icon-user") %> <%= t("activerecord.models.user", :default => "User") %>
			  <% end %></li>
		<li><%= link_to activities_path do %>
			  <%= content_tag(:i, "", :class => "icon-time") %> <%= t(:history, :default => "History") %>
		      <% end %></li>
	    <%= content_tag(:li, "", :class => "divider") %>
		<li><%= link_to "https://docs.google.com/spreadsheet/viewform?formkey=dG1ad1k2Yy1BS1pVNjM3QjFVZERaZUE6MQ#gid=0", :target => "_blank" do %>
		   <%= content_tag(:i, "", :class => "icon-bullhorn") %><%= t(:change_request_title, :default => "Submit an issue") %>
		    <% end %></li>
        <li><%= link_to destroy_user_session_path do %>
		    <%= content_tag(:i, "", :class => "icon-off") %> <%= t(:sign_out_title, :default => "Sign out") %>
		<% end %></li>
	  </ul></li>
      <!-- /setting_menu -->
       <% end %>
    </ul>
    <!-- /nave -->
    </div>
    </div>
  </div>
</div>
