<header class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <%=link_to '検索システムV2', root_path, :class => 'navbar-brand' %>
    </div>
    <div class="col-sm-3 col-md-3 navbar-right">
      <%= form_tag publicity_qas_path, :method => 'get', :remote => true, :class => "navbar-form", :role => "search" do %>
        <div class="input-group">
          <%= text_field_tag :keyword, params[:keyword], :class => "form-control", :id => "srch-term", :placeholder =>"想定問答から探す" %>
          <div class="input-group-btn">
			<%= button_tag(:type => 'submit', :class => "btn btn-default") do %>
			 検索
			<% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
	<!-- Navigation Menu
	================================================== -->
    <ul class="nav navbar-nav">
	    <li class="nav-item"><%= link_to publicity_qas_path, class: "nav-link" do %>
		  <%= content_tag(:i, "", :class => "icon-screenshot") %> 想定問答
		  <% end %></li>
      <li class="nav-item"><%= link_to "カテゴリー管理", publicity_qa_categories_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "短冊管理", publicity_helps_path, class: "nav-link" %></li>
	    <li class="nav-item dropdown">
	      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">短冊 <b class="caret"></b></a>
	      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	　　　　　　　　<% Publicity::Help.all.each do |help| %>
	             <%= link_to help.title, help, {:remote => true, class: "dropdown-item"} %>
	        <% end %>
	      </div>
	    </li>
	 <!--<li><%= link_to publicity_helps_path do %>
		  <%= content_tag(:i, "", :class => "icon-screenshot") %>短冊管理
		  <% end %></li>
	    <li><%= link_to publicity_qa_categories_path do %>
		  <%= content_tag(:i, "", :class => "icon-screenshot") %> 管理
		  <% end %></li>-->
    </ul>
    <!-- /nave -->
    </div>
</header>
