<!DOCTYPE html>
<html lang="en">
<head>
  <title>総会支援システム</title>
    <meta charset="utf-8">
<meta name="robots" content="noindex,nofollow">
<meta name="robots" content="noarchive">
<%= stylesheet_link_tag "application" %>
<%= csrf_meta_tag %>
<%= javascript_include_tag "application" %>
</head>
<body>
<!-- Topbar
================================================== -->
<%= render 'shared/topbar' %>

<!-- Container-->
<div class="container-fluid">

  <!-- Alert Message
================================================== -->

   <!-- Main Content
================================================== -->
   <%= yield %>
</div>
<!-- /container -->
<!-- Footer
================================================== -->
<script type="text/javascript">
      $(function(){
      $('.affix').affix({
    }
  });
  });
    </script>
</body>

</html>
