<%= simple_form_for(@qa, :validate => true, defaults: { input_html: { class: 'form-inline' }}) do |f| %>
<div class="row">
  <div class="col-md-12">
  <%= f.association :qa_category, :collection => Publicity::QaCategory.all, :label_method=> :name %>

  <%= f.input :question, :as => :text, :input_html => { :class => "form-control", :rows => 4 } %>

  <%= f.input :answer, :as => :text, :input_html => { :class => "form-control", :rows => 4 } %>

  <%= f.input :note, :as => :text, :input_html => { :class => "form-control", :rows => 2 } %>

  <%= f.input :reffile, :as => :file %>
  <%= f.button :wrapped, :cancel => publicity_qas_path %>

</div>
</div>
<% end -%>
