<%= link_to '全部リセット', publicity_qas_path %>
	  <div class="pagination">
		<%= paginate collection %>
	  </div>
<div class="panel-group" id="accordion">
      <% for qa in collection %>
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h5 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#qa_<%= qa.id %>">
	          <%= qa.id %> <%= rm_html_tag(qa.question) %>
	        </a>
	      </h5>
	    </div>
	    <div id="qa_<%= qa.id %>" class="panel-collapse collapse in">
	      <div class="panel-body">
	        <%= rm_html_tag(qa.answer) %><%= link_to "議長に表示→", qa, {:remote => true, :class => "btn btn-primary btn-sm"} %>
	      </div>
	    </div>
	  </div>
	 <% end %>
     </tbody>
    </table>


</div>
	<div class="pagination">
	  <%= paginate collection %>
	</div>

