	  <div class="pagination">
		<%= paginate collection %>
	  </div>

    <table class="table table-striped table-bordered">
	 <thead>
	  <tr>
	    <th>ID</th>
	    <th class="col-md-9">Question</th>
	  </tr>
	 </thead>
     <tbody>
      <% for qa in collection %>
       <tr id="qa_<%= qa.id %>">
	        <td><%= qa.id %></td>
	        <td><a id="qa<%=h qa.id %>" href="#qa_modal-<%= qa.id %>" data-toggle="modal">
	            <%= rm_html_tag(qa.question) %></a><br/>
	            <%= rm_html_tag(qa.answer) %><%= link_to "議長に表示→", qa, {:remote => true} %></td>
       </tr>
       <div id="qa_modal-<%= qa.id %>" class="modal fade">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content">
         <div class="modal-header">
           <a class="close" data-dismiss="modal">×</a>
           <h3 class="modal-title"><%=h qa.id %> <%= t("activerecord.attributes.qa.question", :default => "Question") %></h3><br/>
	        <p><%= qa.question %>(<%=h qa.qa_category.name %>)</p>
         </div>
         <div class="modal-body">
		        <h1><%= t("activerecord.attributes.qa.answer", :default => "Answer") %></h1>
		      <div class="inner">
		        <p><%= (hbr(qa.answer)).html_safe %></p>
		        <p>
		          <b>以上、ご回答申し上げました。</b>
		        </p>
         </div>
         <div class="modal-footer">
			<%= show_button(qa) %>
			<%= edit_button(qa) %>
            <%= link_to publicity_qa_path(qa,{:format => 'pdf'}), :class => "btn btn-success", :target => "_blank" do %>
			<i class="icon-file"></i> PDF
			<% end %>
         </div>
	       </div>
	      </div>
       </div>
	 <% end %>
     </tbody>
    </table>
	<div class="pagination">
	  <%= paginate collection %>
	</div>

