<%= form_tag publicity_qas_path, :method => 'get', :id => "index-search" do %>
<div class="form-group">
 <%= label :qa_category_id, "Project", :class => "col-sm-2 control-label" %>
 <%= select_tag(:qa_category_id, options_for_select({'--Please select--' => ""}) + options_from_collection_for_select(Publicity::QaCategory.find(:all), :id, :name), :class=> "form-control") %>
</div>
<div class="form-group">
 <%= label :keyword, "Keyword in Question and Answer.", :class => "col-sm-2 control-label" %>
 <%= text_field_tag :keyword, params[:keyword], :class => "form-control" %>
</div>
<%= button_tag(:type => 'submit', :class => "btn btn-primary btn-lg") do %>
 <i class="icon-search icon-white"></i> <%= t("action.search", :default => "Search") %>
<% end %>
<% end %>